body{
    width:100%;
}
.head{
    font-family: -apple-system-font, "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 5px;
    margin-top: 5px;
    background:  url(../images/logo@2x.png) no-repeat center center;
    background-size: 45%;
    height: 30px;
}
img {
    width:100%
}
.carousel {
    height: 180px;
}
.carousel .title{
    font-size: 18px;
}
.carousel .memo{
    font-size: 14px;
}
.carousel .item {height: 100%;}
.carousel .item  img {width: 100%; height: 180px;}

.seperate{
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    background:  url(../images/split-1@2x.png) no-repeat center center;
    background-size: 60%;
    color: #ea1546;
    font-weight: bold;
}

.travel-container{
    font-family: -apple-system-font, "Helvetica Neue", Helvetica, sans-serif;
    margin: 10px 5px 5px 5px;
    font-size: 14px;

}
.travel-icon {
    width:45%;
    height: 100%;
    float:left;
}
.travel-content {
    height: 100%;
    width: 54%;
    float: right;
    overflow: hidden;
    padding-left: 5px;
}
.travel-content p{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.travel-detail{
    height: 20%;
    width: 100%;
}

.fixToolBtn{
    padding: 5px 5px 0 5px;
    z-index: 10;
    width: 100%;
    height: 55px;
    bottom: 0;
    position: fixed;
    border-top: 1px solid #ddd;
    box-sizing: border-box;
    background: #fff none repeat scroll 0 0;
}

.box{
    display: -webkit-flex; /* Safari */
    display: flex;
}
.item{
    text-align: center;
    flex: auto;
}
.box .item p{
    font-size: 8px;
    /*color: #ea1546;*/
}

.homeIcon{
    height: 30px;
    background:  url(../images/home_selected@2x.png) no-repeat center center;
    background-size: 35%;
}
.addIcon{
    height: 30px;
    background:  url(../images/add@2x.png) no-repeat center center;
    background-size: 35%;
}
.findIcon{
    height: 30px;
    background:  url(../images/find_click@2x.png) no-repeat center center;
    background-size: 35%;
}
.myIcon{
    height: 30px;
    background:  url(../images/private_click@2x.png) no-repeat center center;
    background-size: 35%;
}
